{% extends "layout.html.twig" %}

{% block body %}
    <ul class="pager">
        {% if currentPage > 1 %}
            <li class="previous"><a href="{{ previousUrl }}">Previous</a></li>
        {% endif %}
        <li class="next"><a href="{{ nextUrl }}">Next</a></li>
    </ul>
    <table class="table table-striped hackerNews">
        {% for news in newsList %}
            <tr>
                <td>
                    {{ news.order }}. <a href="{{ news.url }}" target="_blank">{{ news.title }}</a>
                    {% if news.host is defined %}
                        <a class="text-muted"
                           href="https://news.ycombinator.com/from?site={{ news.host }}"
                           target="_blank">({{ news.host }})</a>
                    {% endif %}
                    <small>posted</small> {{ news.time }}
                    <small>by</small>
                    <a href="https://news.ycombinator.com/user?id={{ news.by }}" target="_blank">{{ news.by }}</a>
                    {% if news.descendants is defined and news.descendants > 0 %}
                        | <a target="_blank"
                             href="https://news.ycombinator.com/item?id={{ news.id }}">{{ news.descendants }}
                        comment{% if news.descendants > 1 %}s{% endif %}</a>
                    {% endif %}
                    | {{ news.score }} point{% if news.score > 1 %}s{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}